.ApplicationWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #212121;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/videoblocks-simulated-illustration-of-fast-moving-stars-in-night-sky-looping-for-around-76-seconds_sbnoy66ox_thumbnail-full11.png');
  background-size: 20%;
  background-position: center;
}
