.Character {
  &-avatar {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;

    &.selected {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
